.slide {
  color: var(--gray-500);
  font-size: 17px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -0.41px;
}

.active p {
  position: relative;
  color: var(--gray-900);
  transition: all 0.3s ease;
}

.active p::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -4px;
  background-color: var(--accent);
  height: 2px;
  width: 100%;

  animation-name: animate;
  animation-iteration-count: 1;
  animation-duration: 0.2s;
  animation-timing-function: linear;
}

.name {
  color: var(--gray-900);
  font-size: 36px;
  font-weight: 700;
  line-height: 144%;
  letter-spacing: 0.33px;
}

.desc {
  color: var(--gray-900);
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.24px;
  margin-top: 32px;
}

.itemContent {
  width: 600px;
}

.itemImage {
  width: 600px;
}

@keyframes animate {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@media (max-width: 770px) {
  .slide {
    font-size: 14px;
  }

  .itemContent {
    max-width: 350px;
  }
  .name {
    font-size: 28px;
  }

  .desc {
    font-size: 13px;
    margin-top: 20px;
  }
}

@media (max-width: 450px) {
  .itemImage {
    display: none !important;
  }

  .active p:after {
    bottom: 0;
  }

  .itemContent {
    max-width: 100%;
    text-align: center;
  }
}
