.scrollToTop {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 100000;
  transition: all 0.2s ease-out;
  background-color: var(--white);
  padding: 10px;
  border-radius: 6px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  transform: translateX(100px);
}

.show {
  transform: translateX(0);
}

.scrollToTop img {
  transform: rotate(-90deg);
  width: 30px;
}

@media (max-width: 770px) {
  .scrollToTop img {
    width: 25px;
  }
}
