.section {
  position: relative;
  width: 100%;
  background-color: var(--gray-100);
  padding-bottom: 100px;
}

.backImage {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}

.content {
  position: relative;
  z-index: 2;
  padding-top: 160px;
}

.content .description {
  color: var(--gray-900);
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.24px;
  width: 600px;
  margin-top: 24px;
  margin-bottom: 64px;
}

.formBox {
  width: 676px;
  border-radius: 12px;
  box-shadow:
    0px 0px 24px 0px rgba(0, 0, 0, 0.16),
    0px 0px 2px 0px rgba(0, 0, 0, 0.08);
  background: rgb(255, 255, 255);
  padding: 24px;
}

.formBox b {
  color: var(--gray-900);
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.38px;
}

.formBox form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 34px;
}

.formInput {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.formInput label {
  color: var(--gray-500);
  font-size: 13px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: -0.08px;
}

.phoneInput {
  border-bottom: 0.7px solid var(--gray-300);
}

.formInput input {
  outline: none;
  border-bottom: 0.7px solid var(--gray-300);
  color: var(--gray-900) !important;
  font-size: 17px !important;
  font-weight: 400 !important;
  line-height: 22px !important;
  letter-spacing: -0.41px !important;
  padding: 8px 0 !important;
}

.input {
  border: none !important;
  padding: 8px !important;
}

@media (max-width: 1025px) {
  .backImage {
    width: 60%;
  }

  .content {
    padding-top: 100px;
  }

  .content h1 {
    font-size: 32px;
    line-height: 40px;
    width: 500px;
  }

  .content .description {
    font-size: 13px;
    margin-top: 18px;
    margin-bottom: 40px;
  }
}

@media (max-width: 770px) {
  .backImage {
    display: none;
  }

  .formBox {
    max-width: 600px;
    padding: 18px;
  }

  .formBox form {
    margin-top: 25px;
  }

  .formBox b {
    font-size: 16px;
  }

  .formBox input {
    font-size: 14px;
  }

  .formBox .input {
    font-size: 14px !important;
  }
}

@media (max-width: 450px) {
  .section {
    padding-bottom: 50px;
  }

  .backImage {
    display: inline;
    width: 100%;
    filter: blur(8px);
  }
  .content {
    padding-top: 80px;
  }

  .description {
    width: auto !important;
  }

  .formBox {
    width: auto;
  }

  .formBox form {
    width: 100%;
    flex-direction: column;
    gap: 10px;
  }

  .formInput {
    width: 100%;
  }
}
