.sectionTitle {
  color: var(--gray-900);
  font-size: 36px;
  font-weight: 700;
  line-height: 144%;
  letter-spacing: 0.33px;
  margin-bottom: 24px;
}

.description span {
  color: var(--accent);
}

.description {
  color: var(--gray-900);
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.24px;
}

@media (max-width: 1025px) {
  .sectionTitle {
    font-size: 32px;
    margin-bottom: 15px;
  }
}

@media (max-width: 770px) {
  .sectionTitle {
    text-align: center;
  }

  .description {
    text-align: center;
  }
}

@media (max-width: 450px) {
  .sectionTitle {
    font-size: 28px;
  }
}
