.button {
  padding: 11px 24px;
  border-radius: 8px;
  background: var(--accent);
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: -0.15px;
  border: none;
  cursor: pointer;
}

.button:active {
  background-color: var(--accent-opacity);
}

.button:hover {
  background-color: var(--light-accent);
}
