.section {
  position: relative;
  z-index: 1;
  width: 100%;
  background-color: var(--white);
  padding: 80px 0;
}

.serviceItem {
  display: flex;
  gap: 40px;
  background-color: var(--accent);
  padding: 24px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border: 1px solid var(--accent);
}

.serviceItem b {
  font-size: 24px;
  color: white;
}

.serviceItem p {
  font-size: 14px;
  color: white;
  margin-top: 20px;
}

.serviceItem img {
  width: 250px;
}

.serviceItem:hover {
  background-color: var(--light-accent);
  transform: translateY(-10px);
  box-shadow: 0 0 20px var(--accent);
}

@media (max-width: 770px) {
  .section {
    padding: 50px 0;
  }

  .serviceItem {
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    gap: 20px;
  }

  .serviceItem img {
    height: 150px;
    object-fit: contain;
  }
}

@media (max-width: 450px) {
  .serviceItem {
    padding: 15px;
    gap: 10px;
  }

  .serviceItem b {
    font-size: 18px;
  }

  .serviceItem p {
    font-size: 14px;
    margin-top: 10px;
  }

  .serviceItem:hover {
    transform: translateY(0) scale(1.01);
  }
}
