.header {
  position: fixed;
  top: 24px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--white);
  border-radius: 12px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
  padding: 16px 24px;
  transition: transform 0.3s ease-in-out;
}

.headerHidden {
  transform: translateX(-50%) translateY(-150%);
}

.links {
  display: flex;
  align-items: center;
  gap: 24px;
}

.links a {
  color: var(--gray-900);
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.15px;
}

.contacts {
  display: flex;
  align-items: center;
  gap: 20px;
}

.contact {
  display: flex;
  align-items: center;
  gap: 8px;
}

.dropdown {
  position: relative;
  z-index: 77;
}

.dropdown:hover > .content {
  display: flex;
}

.dropdown:hover > .triangle {
  display: block;
}

.content {
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  padding: 5px;
  top: 25px;
  left: -20px;
  background: var(--white);
  width: 120px;
  z-index: 1;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.triangle {
  display: none;
  position: absolute;
  top: 12px;
  right: -5px;
  z-index: 10;
  height: 14px;
  overflow: hidden;
  width: 30px;
  background: transparent;
}

.triangle:after {
  content: '';
  display: block;
  z-index: 20;
  width: 15px;
  transform: rotate(45deg) translateY(0px) translatex(10px);
  height: 15px;
  background: var(--white);
  border-radius: 2px 0px 0px 0px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.content img {
  width: 30px;
}

.content li {
  width: 100%;
  display: flex;
  gap: 8px;
  padding: 5px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.content li:hover {
  cursor: pointer;
  background-color: var(--accent-opacity);
  color: white;
  border-radius: 6px;
}

.activeLang {
  cursor: pointer;
  background-color: var(--accent);
  color: white;
  border-radius: 6px;
}

.burgerMenu {
  cursor: pointer;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 20px;
  height: 16px;
}

.burgerLine {
  width: 100%;
  height: 3px;
  background-color: var(--gray-700);
  transition:
    transform 0.3s,
    opacity 0.3s;
}

.open:nth-child(1) {
  transform: translateY(6px) rotate(45deg);
}

.open:nth-child(2) {
  opacity: 0;
}

.open:nth-child(3) {
  transform: translateY(-6px) rotate(-45deg);
}

.navMobile {
  position: absolute;
  top: -24px;
  left: -10px;
  z-index: 1000;
  height: 100vh;
  width: 100vw;
  background-color: var(--white);
  clip-path: circle(0px at 0 0px);
  transition: 0.5s ease all;
}

.mobileLinks {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.mobileLinks li {
  opacity: 0;
  transition: 0.3s ease-in all;
  transform: translateY(10px);

  font-size: 18px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.navOpen li:nth-of-type(1) {
  transition-delay: 0.1s;
  opacity: 1;
  transform: translateY(0px);
}

.navOpen li:nth-of-type(2) {
  transition-delay: 0.2s;
  opacity: 1;
  transform: translateY(0px);
}

.navOpen li:nth-of-type(3) {
  transition-delay: 0.3s;
  opacity: 1;
  transform: translateY(0px);
}

.navOpen li:nth-of-type(4) {
  transition-delay: 0.4s;
  opacity: 1;
  transform: translateY(0px);
}

.navOpen li:nth-of-type(5) {
  transition-delay: 0.5s;
  opacity: 1;
  transform: translateY(0px);
}

.navOpen li:nth-of-type(6) {
  transition-delay: 0.6s;
  opacity: 1;
  transform: translateY(0px);
}

.navOpen li:nth-of-type(7) {
  transition-delay: 0.7s;
  opacity: 1;
  transform: translateY(0px);
}

.navOpen {
  clip-path: circle(1500px at 0 0px);
}

@media (max-width: 1025px) {
  .header {
    padding: 12px 16px;
  }

  .links {
    display: none;
  }

  .links p {
    font-size: 12px;
  }

  .contacts {
    display: none;
  }

  .contact a {
    font-size: 12px;
  }
}

@media (max-width: 770px) {
  .contacts {
    display: none;
  }

  .links {
    display: none;
  }
}

@media (max-width: 450px) {
  .links {
    display: none;
  }

  .burgerMenu {
    display: flex;
  }
}
